/*设备绑定*/
//内容部分
.content {
	& .binding-state {
		margin: 1.88rem 0 1.88rem 0;
		height: 5.76rem;
		width: 2.96rem;
	}
	& .binding-button {
		margin: 0  1.4rem auto;
		height: 3.84rem;
	}
}
//绑定状态
.binding-state {
	& .icon {
		font-szie: 2rem;
	}
	
}
